<h1 style="text-align: center">Edit product</h1>
<div class="form-container">
  <!-- ngSubmit directive to submitting the form. -->
  <form [formGroup]="editProduct" (ngSubmit)="updateProduct()" ngNativeValidate>
    <div class="mb-3">
      <!-- Updating product name. -->
      <label for="productName" class="form-label">Product name</label>
      <input
        type="text"
        id="productName"
        class="form-control"
        formControlName="name"
        required
      />
    </div>
    <div class="mb-3">
      <!-- Updating product quantity. -->
      <label for="quantity" class="form-label">Product quantity</label>
      <input
        type="number"
        formControlName="quantity"
        class="form-control"
        id="quantity"
        required
      />
    </div>
    <div class="mb-3">
      <!-- Updating product price. -->
      <label for="price" class="form-label">Product price</label>
      <input
        type="number"
        formControlName="price"
        class="form-control"
        id="price"
        required
      />
    </div>
    <!-- In update product component submit button is changed to update. -->
    <button type="submit" class="btn btn-primary">Update</button>
    <!-- Cancel button -->
    <button type="submit" (click)="navigateToList()" class="btn btn-danger">
      Cancel
    </button>
  </form>
</div>
